 <style>
    /* CSS-код для стилізації сторінки */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #333;
      padding: 10px;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    header h1 {
      margin: 0;
      font-size: 24px;
    }

    header .contact-info {
      display: flex;
      align-items: center;
    }

    header .phone-icon {
      margin-right: 10px;
    }

 nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      background-color: #eee;
    }

    nav ul li {
      flex: 1;
      text-align: center;
    }

    nav ul li a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #333;
    }

    nav ul li a:hover {
      background-color: #ddd;
    }



#content {
    padding: 30px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #c6c6c6;
}
  

  #contacts {
    display: flex;
    align-items: center;
  }

 #contacts .left {
    float: left;
    width: 600px;
    background: #f3f2f2;
    color: #060606;
    padding: 20px;
}

  #contacts h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  #contacts p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  #contacts a {
    color: #000;
    text-decoration: none;
  }

  .right iframe {
    width: 595px;
    height: 454px;
  }

  .clr {
    clear: both;
  }







 footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }